a.icon.icon-home {
	display: none; /* DISABLE LOGO TEXT */
}

a {
    color: #A91919; /* RED LINKS */
}

a:hover,
a:active {
    color: #000;
}

a:visited {
    color: #984646;
}

.wy-side-nav-search {
    background-color: #18161E;
}

.wy-side-nav-search input[type=text] {
    border-color: #18161E;
	border-radius: 0px; /* MAKE SEARCH BOX NON-ROUNDED */
}

.wy-side-nav-search>a, 
.wy-side-nav-search .wy-dropdown>a,
.wy-menu-vertical a:hover {
    color: #000 !important;
	background-color: #fff;
}

.wy-menu-vertical a:active {
    background-color: #666666;
	color: #fff;
}

.wy-menu-vertical a:visited {
    color: #b3b3b3;
}

.rst-versions{
border-top:solid 10px #18161E;
}

.wy-side-nav-search>a {
    color: #fcfcfc;
    font-size: 36px;
    font-weight: italic bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;
}

.wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
    list-style: decimal;
    margin-left: 0; /* NO MARGIN FOR NUMERIC LISTS */
	margin-top: 10px;
	border-left: 3px solid #A91919; /* RED COLOR LEFT BORDER */
	padding-left: 3px;
	border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
