a {
    color: #A91919;
}

a:hover,
a:active {
    color: #d60a0a;
}

a:visited {
    color: #984646;
}

.wy-side-nav-search {
    background-color: #18161E;
}

.wy-side-nav-search input[type=text] {
    border-color: #18161E;
}

.wy-side-nav-search>a, 
.wy-side-nav-search .wy-dropdown>a,
.wy-menu-vertical a:hover {
    color: #fff !important;
}

.wy-menu-vertical a:active {
    background-color: #A91919;
}

.wy-menu-vertical a:visited {
    color: #b3b3b3;
}

.rst-versions{
border-top:solid 10px #18161E;
}

.icon {
	display: none;
}

.wy-side-nav-search>a {
    color: #fcfcfc;
    font-size: 36px;
    font-weight: italic bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0.809em;