.wy-side-nav-search {
background-color: #18161E;
}
.wy-nav-side {
background-color: #18161E;
}
.rst-versions .rst-current-version {
background-color: #18161E;
}
.rst-versions {
border-top:solid 10px #222c32;
}